body {
    font-family: "Poppins";
}


/* Navbar */
.navbar {
    transition: all 0.3s ease-in-out;
}

.navbar.shrink {
    background-color: #343a40 !important;
    padding: 10px 15px !important;
}

.navbar-brand {
    transition: all 0.3s ease-in-out;
}

.navbar.shrink .navbar-brand {
    font-size: 1.2rem;
}


/* Footer */

footer p,
a {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

footer h6 {
    font-family: 'Poppins', serif;
    margin-bottom: 40px;
    position: relative;
}


.btn-footer {
    color: grey;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 15px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {
    text-decoration: none;
}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;

}

::placeholder {
    font-size: 14px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background: #232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;

}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}



/* Title */
h1 {
    color: #3F3F3F;
    font-size: 280px;
    text-transform: uppercase;
}

h2 {
    color: #3F3F3F;
    font-size: 140px;
    text-transform: uppercase;
}

/* Index */
/**First Section**/
.bg-index {
    background-image: url(/public/media/Light\ Gradient\ 06.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.big-title2 {
    line-height: 80px
}

.abstract-composition {
    position: relative;
    top: -10rem;
    right: 3rem;
    z-index: 9
}

.btn-outline-dark {
    font-size: 30px;
    border: 3px solid #3F3F3F;
}

.img-2{
background-image: url(/public/media/ee.png);
background-size: contain;
background-repeat: no-repeat;



}


/**Second Section**/
.big-title {
    z-index: 9
}

.custom-content-2 {
    position: relative;
    top: 70px
}

/**Services**/
.lead-services {
    font-size: 35px;

}

.lead-services a {
    font-size: 35px;
    text-decoration: underline;
    color: #3F3F3F
}

.lead-services a:hover {
    color: black
}

.btn-dark {
    font-size: 30px;
    border: 3px solid #3F3F3F;
}

.services-card {
    cursor: pointer;
    box-shadow: 0 0 8px #979797;
    opacity: 0.6;
    transition: all 2s;
}

.services-card:hover {
    opacity: 1;
    box-shadow: 0 0 15px #979797;
}

.card h3,
.card h5 {
    transition: all 3s ease;
    cursor: pointer;
}

.card h3:hover,
.card h5:hover {
    letter-spacing: 5px
}

.ai-img{
    background-image: url(/public/media/header-ai.png);
    background-size: contain;
    background-position-x: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/**Academy**/
h5 {
    color: #3F3F3F;
    font-size: 90px;
    text-transform: uppercase;
    z-index: 9;
}

.bg-academy {
    background-image: url(/public/media/image\ 4.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.abstract-academy img {
    position: relative;
    top: 0;
    z-index: 0;
}

h6 {
    color: #3F3F3F;
    font-size: 25px;
    text-transform: uppercase;

}

.card-header {
    background-image: url(/public/media/Light\ Gradient\ 06.png);
    background-size: cover;

}

.card {
    box-shadow: 0 0 8px #979797;
}

/*Teachers Card 1*/
.profile-card-1 {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #3F3F3F;
    text-align: center;
    height: 368px;
    border: none;
    padding: 38px 10px;
    background-image: url(/public/media/Light\ Gradient\ 06.png);
    background-size: cover;
}

.profile-card-1 .background {
    width: 100%;
    vertical-align: top;
    opacity: 0.9;
    filter: blur(5px);
    transform: scale(2.8);
}

.profile-card-1 .card-content {
    width: 100%;
    padding: 15px 25px;
    position: absolute;
    left: 0;
    top: 50%;
}

.profile-card-1 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 150px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid #3F3F3F;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    transition: all 2s;
    opacity: 0.6;
    cursor: pointer;
}

.profile-card-1 .profile:hover {
    opacity: 1;
}

.profile-card-1 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 25px;
}

.profile-card-1 h2 small {
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

.profile-card-1 i {
    display: inline-block;
    font-size: 16px;
    color: #3F3F3F;
    text-align: center;
    border: 1px solid #3F3F3F;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    transition: all 2s;
    opacity: 0.6;
}


.profile-card-1 .icon-block {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.profile-card-1 .icon-block a {
    text-decoration: none;
}

.profile-card-1 i:hover {
    background-image: linear-gradient(to left, #4DFAFA, #F4B8EE);
    color: #2e3434;
    text-decoration: none;
    opacity: 1;
}


/**Card Classes**/
.bg-pink{
    background-image: url(/public/media/Light\ Gradient\ 06.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 8px #979797;
    background-attachment: fixed;
}


/* Sticky Form */
.contact-form {
    background-image: url(/public/media/10.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px #979797;
    background-attachment: fixed;
}

.form-contact {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;

}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    /* Colore blu al focus */
    outline: none;
}




@media (max-width: 992px) {
    h1 {
        color: #3F3F3F;
        font-size: 60px;
        text-transform: uppercase;
    }
    
    h2 {
        color: #3F3F3F;
        font-size: 40px;
        text-transform: uppercase;
    }
   
    h5 {
        color: #3F3F3F;
        font-size: 60px;
        text-transform: uppercase;
        z-index: 9;
    }
    
    .abstract-composition{
        padding-top: 100px
    }

    

}